.ytcb-block-btn {
    display: inline-flex;
    align-items: center;

    margin-left: 6px;

    cursor: pointer;

    font-size: 14px;

    opacity: 0.5;

    user-select: none;
}

.ytcb-block-btn:hover {
    opacity: 1;
    transform: scale(1.15);
}
