body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

input {
    width: 300px;
}

li {
    margin: 5px 0;
}

button {
    margin-left: 5px;
}